# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcshareddata/
Package.resolved

# CocoaPods (falls du es später nutzt)
Pods/
Podfile.lock

# Carthage (falls du es je nutzt)
Carthage/Build/

# Fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# App Thinning
*.ipa
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace

# User settings
*.xcworkspace/xcuserdata/

# Xcode Preview cache
*.canvas
